/* NAV BAR */


body{

    background-color:#e6e4e4;
    
} 

#color-nav{

    background-color:#087E8B!important
    
}


.logo1{

    width:65%;
    height:65%;
    margin-left: 35%;
       
} 



.nav-item{

    font-size:15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color:white;
    margin-left: 20px;
} 


 
.sign-link{
    
   
    color:white;
    font-size: 10px;
    text-decoration: none;
    position: absolute; 
    letter-spacing:  0.2em;
    margin-left: 300px; 
    float:left;
    padding-top:10px;   
}

.sign-link:hover{

    color:gray;
}

.log-link{

   
    color: white;
    font-size: 10px;
    text-decoration: none;
    position: absolute; 
    letter-spacing:  0.2em;
    margin-left: 400px;
    /* margin-bottom: 20px; */
    padding-top:10px; 
}

.log-link:hover{

    color:gray;
}



