/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap'); */




body {


  background-image: url(../images/ladrillo6);
  /* background-size:contain;
 background-position: bottom; */

  background-color: #e6e4e4;
  font-family: 'roboto', sans-serif;

}

#color-nav {

  background-color: black !important;


}


.logo1 {

  width: 70%;
  height: 70%;
  border-radius: 100%;

}

.dropdown-toggle::after {
  content: none;
}


.nav-item {



  font-size: 0.938rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  margin-left: 1.25rem;
}



.user_photo {

  background-color: white;
  height: 2.5rem;
  border: solid 0.094rem;
  border-color: white;
  border-radius: 100%;


}

.dropdown-item {

  font-size: 0.5rem;
}

/* PERFIL */




h1 {
  color: white;
  margin-top: 0.8rem;
  text-align: center;
}

label {

  color: white;
  margin-top: 0.8rem;
}

.perfil-photo {

  background-color: white;
  height:2.5rem;
  width:2.5rem;
  border: solid 1.5px;
  border-radius: 100%;
  


}


.perfil-check {

  text-align: justify;
  display: inline-block;
  height: auto;
  margin-top: 2%;
  background-color: black;
  border-radius: 8px;
  border: 1px solid;
  border-color: white;
  box-shadow: 10px 10px 10px #016bd7;



}

.perfil-box {

  width: 50%;

}

label {

  font-weight: bold;
  margin-bottom: 0.5em;
}

input {



  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: white;
  background-color: black;
}

input[type="submit"] {

  width: 20%;
  height: 20%;
  margin-left: 40%;
  margin-top: 1.5em;
  border-radius: 5px;
  background-color: #124559;
  color: white;
  font-size: 18px;


}

input[type="submit"]:hover {

  color: grey;
}




/* FOOTER */

.container {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100hv;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-top: 1.5rem;

}

.site-footer {


  font-size: o.938rem;
  color: white;
  width: 100%;
  flex-wrap: wrap;
  background-color: black;
  bottom: 0;
  height: 2.5rem;



}

.copyright-text {
  font-size: 0.6rem;
  margin: 0;
  margin-top: 1.25rem;
  text-align: center;
  padding: 1%;
}