/* NAV BAR */


body{
 
  background-color:black !important;
  
} 

#color-nav{

  background-color:black!important;
 
   
}


.logo1{

  width:70%;
  height:70%;
  border-radius: 100%;
     
}

.dropdown-toggle::after {
  content: none;
}


.nav-item{

font-size:15px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.2em;
color:white;
margin-left: 20px;
} 


.log-link{

   
    color: white;
    font-size: 10px;
    text-decoration: none;
    position: absolute; 
    letter-spacing:  0.2em;
    margin-left: 400px;
    /* margin-bottom: 20px; */
    padding-top:10px; 
}

.log-link:hover{

    color:gray;
}



 

/* FOOTER */


.container {
  max-width: 100%;
  box-sizing: border-box; 
  margin:0;
  padding:0;
  min-height: 100hv;
  display:grid;
  grid-template-rows:auto 1fr auto;

}

.site-footer{
  

  font-size:15px;
  color:white;
  width: 100%;
  flex-wrap: wrap;
  background-color: black;
  bottom: 0;
  height: 40px;

  

}  

.copyright-text{
  font-size: 0.6em;
  margin:0;
  margin-top:20px; 
  text-align:center;
  padding:1%;
}