/* NAV BAR */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

.error-msg{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	color: #F43400;
	font-size: 1.2rem;
}

body{
 background-color: #343743 !important;
 font-family: 'Roboto Condensed', sans-serif;
}

.grid-layout{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
        "banner banner"
        "slider slider"
        "container-small container-small";
  grid-gap: 10px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.banner img{
  width: 80%;
  margin-top: 3%;
}
.banner{
  
  grid-area: banner;
  grid-column: 1/3;
}
.col{
  text-align: center;
  width: auto;
  height: auto;
  
}
.container-small{
  display: block;
  margin: auto;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 80%;
  grid-area: container-small;
}
.banner-small-1 img{
  width: 100%;
  height: 100%;
}
.banner-small-2 img{
  width: 100%;
  height: 100%;
}

.slider{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  width: auto;
  height: auto;
  grid-area: slider;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  width: 80%;
  text-align: center;
  grid-gap: 8px;
}
  
  

}


.col img{
  width: 100%;
  height: 100%;
}


.item{
  background-color:red;
  width: 200px;
  height: 200px;
  border: 1px solid white;

}
.sldier__btn{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  background-color: unset;
  border: unset;
  border-radius: unset;
  padding: 0;
  border-radius: 50%;

  
}
.sldier__btn:hover{
  font-size: 45px;
}

.slider__btn--right{
  right: 0;

}
.slider__btn--left{
  left: 0;
}

#color-nav{
    background-color:#272A31 !important;
}


.logo1{
	height: 3rem;
	width: auto;
       
} 



.nav-item{

  font-size:1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color:white;
  margin-left: 20px;
}

.user-photo{

  background-color:white;
  height: 2.5rem;
  width: 2.5rem;
}
#ban{
  width: 80%;
}
.dropdown-toggle::after {
    content: none;
}

 
.sign-link{
    
   
    color:white;
    font-size: 10px;
    text-decoration: none;
    position: absolute; 
    letter-spacing:  0.2em;
    margin-left: 300px; 
    float:left;
    padding-top:10px;   
}

.sign-link:hover{

    color:gray;
}

.log-link{

   
    color: white;
    font-size: 10px;
    text-decoration: none;
    position: absolute; 
    letter-spacing:  0.2em;
    margin-left: 400px;
    /* margin-bottom: 20px; */
    padding-top:10px; 
}

.log-link:hover{

    color:gray;
}

/* CARRUSEL */

#foto{

    width: auto; 
    height: auto;
       
}  

/* FOOTER */


.container{

    width: 100%;
}

.site-footer{

    
    left:0px;
    bottom:0px;
    height:60px;
    width:100%; 
    background-color:black;
    padding:20px 0 20px;
    font-size:15px;
    line-height:20px;
    color:white; 
  }  
  
  
  .site-footer .social-icons{
    text-align:right;
  }
  .site-footer .social-icons a{
    width:20px;
    height:20px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#3d3c33;
    
  } 
  .copyright-text{
    margin:0;
  }
  
  @media (max-width:991px){
    .site-footer [class^=col-]{
      margin-bottom:30px;
  }
  }
  
  @media (max-width:767px){
    .site-footer{
      padding-bottom:0;
  }
    .site-footer .copyright-text,.site-footer .social-icons{
      text-align: center;
  }

  .item{
    background-color:white;
    width: 100px;
    height: 100px;
    border: 1px solid white;

  }
  }
  .social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
  }
  .social-icons li{
    display:inline-block;
    margin-bottom:4px;
  } 
  
  
  
  
  
  
    
