

/* NAV BAR */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body{
 background-color: black !important;
 background-image:url(../images/ladrillo6);
 font-family: 'Roboto Condensed', sans-serif;
 font-weight: 300;
} 

#color-nav{

    background-color:black!important;

}


.logo1{

    width:65%;
    height:65%;

} 



.nav-item{

    font-size:15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color:white;
    margin-left: 20px;
} 

/* FORMULARIO */

h1{
    font-size: 2.5rem;
    color:white;
    font-weight: lighter;
}

@media(max-width: 600px){
    
    .login-box{
        width: 90%;
        margin:0 auto;
        height: auto;
    }

}

@media(min-width: 601px) and (max-width:900px){
    
    .login-box{
        width: 75%;
        margin:0 auto;
        height: auto;
    }

}

@media(min-width: 900px){
        .login-box{
        width: 35%;
        margin:0 auto;
        height: auto;
        

    }
}



.login-box {

    margin-top: 5%;
    background-color:rgba(0, 0, 0, 0.50);
    border-radius:3px;
    border:1px solid;
    border-color: #4278D8;
    box-shadow: 0rem 0rem 0.8rem #4278D8;
}

h1{

    text-align: center;
    padding-top: 15px;

}

h4{

    text-align: center;
}

form{

    width: 90%;
    margin: 0 auto;

}

form label{

    display:flex;
    margin-top: 20px;
    font-size: 16px;
    color:white;
}

form input{

    width:100%;
    padding: 7px;
    border:none;
    border: 1px solid white;
    border-radius:6px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.20);

}



input[type="submit"]{

    width: 100%;
    margin: 0 auto;
    margin-top:20px;
    border: none;
    background-color:#4278D8;
    color:white;
    font-size:18px;

}

input[type="submit"]:hover{

    color:black;
}



p{

    text-align:center;
    padding-top: 20px;
    font-size: 15px;

}

.para-1{

    text-align:center;
    color:white;
    font-size:12px;
    margin-top: -10px;

}


.para-1 a{

    color:white;


}

.para-1 a:hover{

    color:grey;

}


