
/* FORMULARIO */

h1{
    font-size: 2.5rem;
    color:white;
    font-weight: lighter;
}

@media(max-width: 600px){
    
    .login-box{
        width: 90%;
        margin:0 auto;
        height: auto;
    }

}

@media(min-width: 601px) and (max-width:900px){
    
    .login-box{
        width: 75%;
        margin:0 auto;
        height: auto;
    }

}

@media(min-width: 900px){
        .login-box{
        width: 35%;
        margin:0 auto;
        height: auto;
        

    }
}



.login-box {

    margin-top: 5%;
    background-color: #272A31;
    border-radius:3px;
    border:1px solid;
    border-color: #f2b705;
    box-shadow: 0rem 0rem 0.8rem #f2b705;
}

h1{

    text-align: center;
    padding-top: 15px;

}

h4{

    text-align: center;
}

form{

    width: 90%;
    margin: 0 auto;

}

form label{

    display:flex;
    margin-top: 20px;
    font-size: 16px;
    color:white;
}

form input{

    width:100%;
    padding: 7px;
    border:none;
    border: 1px solid white;
    border-radius:6px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.20);

}



input[type="submit"]{

    width: 100%;
    margin: 0 auto;
    margin-top:20px;
    border: none;
    background-color: #f2b705;
    color:black;
    font-size:18px;

}

input[type="submit"]:hover{

    color:white;
}



p{

    text-align:center;
    padding-top: 20px;
    font-size: 15px;

}

.para-1{

    text-align:center;
    color:white;
    font-size:1rem;

}


.para-1 a{

    color:white;


}

.para-1 a:hover{

    color:grey;

}


