

/* PERFIL */

h1{
  color: white;
  margin-top: 1rem;
  text-align: center;
}


button[type="button"] {

  
  color: #fff;
  
}

button[type="button"]:hover {

  color: grey;
}




