h1{
  color: white;
  margin-top: 1rem;
  text-align: center;
}
.img-box{
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

.img-reward{
	width: auto;
	height: 4rem;
	border-radius: 0.5rem;
}

h4{
	color: white;
}

.scrolleable{
	height: 15rem;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1.5rem;
}

.img-team{
	width: auto;
	height: 3rem;
	display: block;
	margin: auto;	
}

.img-team-box{
	width: auto;
	height: 7rem;
	border-radius: 0.5rem;
}


.each-bkg{
	background-color: #272A31;
	padding: 0.5rem;
	border-radius: 1rem;
}




