
.title{
    font-size: 2.5rem;
    font-family: 'Syncopate', sans-serif;
}

.img-box{
    width: 100%;
    height: auto;
}

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.custom-card{
    width: 100%;
    height: auto;
    background-color:rgba(0,0,0,0.5);
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    transition: transform 0.5s;
    color: white;
}

.custom-card:hover{
    transform: scale(1.03);
}

.user-photo{

  background-color:white;
  height: 2.5rem;
  width: 2.5rem;
}

.dropdown-toggle::after {
    content: none;
}
