/* NAV BAR */


body{

    background-color:black !important;
    
} 

#color-nav{

    background-color:black!important;
     
}


.logo1{

    width:70%;
    height:70%;
    margin-left: 20%;
    border-radius: 100%;
       
} 



.nav-item{

  font-size:15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color:white;
  margin-left: 20px;
} 
 

.user_photo{

  background-color:white;
  margin-right: 20px;
  width:50px ;
  height:50px;
  border:solid 1.5px;
  border-color: white;
  border-radius: 100%;
  margin-top:5px;
  
}


.perfil{

  
  margin-right: 40px;
  margin-top:0px;
  color:white;
  font-size: 14px;
  text-decoration: none;

}

.perfil:hover{

  color:grey;

}
/* TARJETAS */

.card-deck{

  margin-top:30px;
}

.card{
    margin: 5% 0%;
  }
  
.card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
}

.card-img-top{
 
  height:200px;
  width: 200 px;

}

.card-text{

  text-align: center;
}

.card-img-top1{

  height: 200px;
  width: 200 px;
  padding:0 70px 15px;

}

h4{

    text-align: center;
}

  input[type="submit"]{
 
   /*  width: 275px;
    height: 35px;
    margin-top:20px;
    border: none;
    background-color:#124559;
    color:white; 
    font-size:15px; */

    width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #124559;
  color: white;
  font-size: 18px;
  border-radius:3px;


}

input[type="submit"]:hover{

    color:grey;

}

/* FOOTER */


.container {
  max-width: 100%;
  box-sizing: border-box;

}

.site-footer{
  margin-top: 200px;

  left:0px;
  bottom:0px;
  height:60px;
  background-color:black;
  padding:20 0 20px;
  font-size:15px;
  line-height:20px;
  color:white;

/* position: absolute; */

width: 100%;


  
}  

.copyright-text{
  margin:0;
  margin-top:20px;
  text-align:center;
}