/* NAV BAR */


 
body{
 
  background-color:black !important;
  
} 

#color-nav{

  background-color:black!important;
 
   
}


.logo1{

  width:70%;
  height:70%;
  border-radius: 100%;
     
}

.dropdown-toggle::after {
  content: none;
}


.nav-item{

font-size:15px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.2em;
color:white;
margin-left: 20px;
} 

.user_photo{

  background-color:white;
  height:2.5rem;
  border:solid 1.5px;
  border-color: white;
  border-radius: 100%;

  
}

.dropdown-item{

  font-size: 0.5em;

}
/* TARJETAS */


.card-deck{

  margin-top:15px;
}

.card{
  
    margin: 5% 1%;
    
  } 
  
/* .card-body{
    margin: 0% 10% 0% 3%;
    padding: 6% 0%;
} */

.card-img-top{
 
  height:200px;
  width:200 px; 

}

.card-text{

  text-align: center;
}

.card-img-top1{

  height: 200px; 
  width: 200 px;
  padding:0 70px 15px;

}

h4{

    text-align: center;
}

  input[type="submit"]{
 

    width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #124559;
  color: white;
  font-size: 18px;
  border-radius:3px;


}

input[type="submit"]:hover{

    color:grey;

}

/* FOOTER */


/* FOOTER */
  
  
.container {
  max-width: 100%;
  box-sizing: border-box; 
  margin:0;
  padding:0;
}

.site-footer{
  

  font-size:15px;
  color:white;
  width: 100%;
  flex-wrap: wrap;
  background-color: black;
  position: absolute;
  bottom: 0;
  height: 40px;
  position: relative;


}  

.copyright-text{
  font-size: 0.6em;
  margin:0;
  margin-top:20px; 
  text-align:center;
  padding:1%;
}