
.dropdown-toggle::after {
  content: none;
}

@media(max-width: 600px){
    .signup-box{
        width: 90%;
    }
}

@media(min-width: 601px){
    .signup-box{
        width: 75%;
    }
}

@media(min-width: 800px){
    .signup-box{
        width: 60%;
    }
}

.signup-box {


    height: auto;
    margin: auto;
    margin-top: 2%;
    background-color:#272A31;
    border-radius:8px;
    border:1px solid;
    border-color: #f2b705;
    box-shadow: 0rem 0rem 0.8rem #f2b705;

}


h1 {

  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;


}

h4 {

  text-align: center;
  color: white;
  padding: 5px;
}

form {

  width: 90%;
  margin: 0 auto;

}

select::placeholder{

  color:grey
}

form label {

  display: flex;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}

form input {

  width: 100%;
  padding: 7px;
  border:none;
  border-bottom:1px solid #fff;
  
  outline: none;
  color:white;
  background-color:#272A31;
}



#provincia,
#ciudad {

  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid white;
  border-radius: 6px;
  outline: none;

} 

.log-in{
    font-size: 0.8rem;
}


input[type="submit"] {

  width: 100%;

  margin-top: 20px;
  border: none;
  background-color: #f2b705;
  color: black;
  font-size: 18px;

}

input[type="submit"]:hover {

  color: white;
  font-weight: bold;
}



p {

  text-align: center;
  padding-top: 20px;
  font-size: 15px;

}

.para-1 {

  text-align: center;
  color: white;
  font-size: 1rem;

}


.para-1 a {

  color: white;


}

.para-1 a:hover {

  color: grey;

}
