
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap'); */


 
 
body{
 
 
 background-image:url(../images/ladrillo6);
 /* background-size:contain;
 background-position: bottom; */
 
 background-color: #e6e4e4;
 font-family: 'roboto', sans-serif;
  
} 

#color-nav{

  background-color:black!important;
 
   
}


.logo1{

  width:70%;
  height:70%;
  border-radius: 100%;
     
}

.dropdown-toggle::after {
  content: none;
}


.nav-item{


font-size:0.938rem;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.2rem;
color:white;
margin-left:1.25rem;
} 





@media(max-width: 600px){
    .signup-box{
        width: 90%;
    }
}

@media(min-width: 601px){
    .signup-box{
        width: 75%;
    }
}

@media(min-width: 800px){
    .signup-box{
        width: 60%;
    }
}

.signup-box {


    height: auto;
    margin: auto;
    margin-top: 3%;
    background-color:black;
    border-radius:0.5rem;
    border:0.063rem solid;
    border-color: white;
    box-shadow: 0.625rem 0.625rem 0.625rem #016bd7;

}

.iniciar{

font-size:0.8rem;

}


h1 {

  font-style: 'roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding-top: 0.938rem;
  margin-top: 0.625rem;


}

h4 {

  font-style: 'roboto', sans-serif;
  text-align: center;
  color: white;
  padding: 0.33rem;
}

form {

  width: 90%;
  margin: 0 auto;

}

select::placeholder{

  color:grey
}

form label {

  display: flex;
  margin-top: 1.25rem;
  font-size: 1.125rem;
  color: white;
}

form input {

  width: 100%;
  padding: 0.438rem;
  border:none;
  border-bottom:0.063rem solid #fff;
  
  outline: none;
  color:white;
  background-color:black;
}



#provincia,
#ciudad {

  width: 100%;
  padding: 0.438rem;
  border: none;
  border: 0.063rem solid white;
  border-radius: o.375rem;
  outline: none;

} 



input[type="submit"] {

  width: 100%;

  margin-top:1.25rem;
  border: none;
  background-color: #124559;
  color: white;
  font-size: 1.125rem;

}

input[type="submit"]:hover {

  color: grey;
}



p {

  text-align: center;
  padding-top: 1.25rem;
  font-size: 0.938rem;

}

.para-1 {

  text-align: center;
  color: white;
  font-size: 0.75rem;
  margin-top: -0.625rem;

}


.para-1 a {

  color: white;


}

.para-1 a:hover {

  color: grey;

}

/* FOOTER  */

.container {
  max-width: 100%;
  box-sizing: border-box; 
  margin:0;
  padding:0;
  min-height: 100hv;
  display:grid;
  grid-template-rows:auto 1fr auto;
  margin-top:1.5rem;

}

.site-footer{
  

  font-size:o.938rem;
  color:white;
  width: 100%;
  flex-wrap: wrap;
  background-color: black;
  bottom: 0;
  height: 2.5rem;

  

}  

.copyright-text{
  font-size: 0.6rem;
  margin:0;
  margin-top:1.25rem; 
  text-align:center;
  padding:1%;
}