<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1">
    <title>Log In</title>

    <link rel="stylesheet" href="../static/loginstyle.css">

</head>

<body>
    <div class="login-box">

 <h1>Iniciar Sesión</h1>

    <form>

        <label>E-mail</label>
        <input type="email" placeholder="Ingresa tu e-mail">

        <label>Contraseña</label>
        <input type="Password" placeholder="Ingresa tu contraseña">

         <input type="submit" value="Ingresar">

         <p class="para-1">No tienes una cuenta?<a href="signin.html"> Regístrate Aquí</a></p>

    </form>

 </div>
    
    
 <!--  INICIO FOOTER -->

 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved.

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">


            <li><a href="https://www.instagram.com/?hl=es"><img class="Instagram"
                  src="../static/images/icono inst (1).png" alt=""></a></li>
            <li><a href="https://www.facebook.com/"><img class="facebook" src="../static/images/icono face.png"
                  alt=""></a></li>
            <li><a href="https://twitter.com/"><img class="twitter" src="../static/images/icono twitter.png" alt=""></a>
            </li>



          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>