<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form Login</title>
    <link rel="stylesheet" href="css/logInstyle.css">
</head>

<body>

 <div class="login-box">
 <img class="avatar" src="IMAGENES/logo.jpg" alt="logo">
 <h1>Iniciar Sesión</h1>

 <form>

  <label for="Username">Nombre de Usuario</label>
  <input type="text" placeholder="Ingresa tu nombre de Usuario">

  <label for="Password">Contraseña</label>
  <input type="Password" placeholder="Ingresa tu contraseña"><br>

  <input type="submit" value="Log In"><br>

  <a href="#">* Registrarse</a><br>
  <a href="#">* No recuerdo la contraseña</a>

 </form>






 </div>   
</body>
</html>