<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../static/images/logo1.png">
  <title>Premios</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/premios.css">


</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="color-nav">
    <div class="container-fluid">

      <a href="#"><img class="logo1" src="../static/images/logo1.png" alt=""></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Ranking</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Premios</a>
          </li>

      </div>
      </ul>
    <!-- </div>

    <a href="#"><img class="user_photo" src="../static/images/usuario.png" alt="User"></a>
    <a class="perfil" href="#">Perfil</a>
  
    </div> -->
  </nav>

  <!-- PREMIOS -->

  <div class="container1">

    <!-- Card deck -->
    <div class="card-deck row">


      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/picada1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Juan Carlos Picadas</h4>
            <!--Text-->
            <p class="card-text">Picada para dos personas</p>
            <h4>$1500</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/lomo1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Barloa</h4>
            <!--Text-->
            <p class="card-text">Lomo Completo</p>
            <h4>$1000</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/hamb1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">La Hamburguesería</h4>
            <!--Text-->
            <p class="card-text">Hamburguesa doble con papas fritas</p>
            <h4>$1000</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/pizza1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Capri Pizzas</h4>
            <!--Text-->
            <p class="card-text">Pizza Muzzarella</p>
            <h4>$900</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">



        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/napo1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Rotiseria Pochola</h4>
            <!--Text-->
            <p class="card-text">Milanesa a la Napolitana c/ papas fritas</p>
            <h4>$800</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/pastas1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Montecatini</h4>
            <!--Text-->
            <p class="card-text">Pastas a elección</p>
            <h4>$800</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/vino1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
           <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Go Bar</h4>
            <!--Text-->
            <p class="card-text">Vino Catena Zapata Malbec</p>
            <h4>$1800</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/gin1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drink</h4>
            <!--Text-->
            <p class="card-text">Gin Los Apóstoles 750ml + tónica</p>
            <h4>$1450</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/campari1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Go Bar</h4>
            <!--Text-->
            <p class="card-text">Campari 750 ml + 2 jugos de Naranja</p>
            <h4>$1020</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/smirnoff1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drink</h4>
            <!--Text-->
            <p class="card-text">Smirnoff 750ml y 5 speeds</p>
            <h4>$920</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

     
      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images/premios/fernet1" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Go Bar</h4>
            <!--Text-->
            <p class="card-text">Fernet Branca 770cc + Coca Cola 2 lts</p>
            <h4>$750</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>


     

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top1" src="../static/images/premios/cerveza1.png" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drink</h4>
            <!--Text-->
            <p class="card-text">Pack x6 cerveza Quilmes</p>
            <h4>$450</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top1" src="../static/images//premios/tabaco1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drugstore La Pandilla</h4>
            <!--Text-->
            <p class="card-text">Tabaco Las Hojas x 30gr</p>
            <h4>$300</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top1" src="../static/images//premios/marlboro1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drugstore La Pandilla</h4>
            <!--Text-->
            <p class="card-text">Marlboro box 20</p>
            <h4>$260</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      
      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top1" src="../static/images//premios/Philip-Morris-Caps.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drugstore La Pandilla</h4>
            <!--Text-->
            <p class="card-text">Phillip Morris box convertibles</p>
            <h4>$240</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top1" src="../static/images//premios/lucky1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drugstore La Pandilla</h4>
            <!--Text-->
            <p class="card-text">Lucky Strike box 20</p>
            <h4>$230</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="../static/images//premios/habano1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drugstore La Pandilla</h4>
            <!--Text-->
            <p class="card-text">Habano Montecristo N°4</p>
            <h4>$180</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>

      

      


      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top1" src="../static/images//premios/clipper1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Drugstore La Pandilla</h4>
            <!--Text-->
            <p class="card-text">Encendedor Clipper</p>
            <h4>$150</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-primary">Apostar</button> -->
            <input type="submit" value="Apostar">


          </div>

        </div>
        <!-- Card -->
      </div>


      

     
  <!--  INICIO FOOTER -->

 
  <footer class="site-footer">
    <div class="container">

        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved.

        </p>

    </div>
</footer>




  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
</body>

</html>