<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Sign In</title>
    <link rel="stylesheet" href="registrarsestyle.css">
</head>

<body>

    <div class="login-box">

    <form>

        
            <img class="avatar" src="IMAGENES/logo.jpg" alt="logo">
            <h1>Registrarse</h1>

            <label for="Nombre">Nombre</label>
            <input type="text" placeholder="Ingresa tu Nombre">

            <label for="Apellido">Apellido</label>
            <input type="text" placeholder="Ingresa tu Apellido">


            <label for="Edad">Fecha de Nacimiento</label>
            <input type="datetime" placeholder="Ingresa tu fecha de nacimiento">

            <label for="País">País</label>
            <input type="text" placeholder="Ingresa tu País">

            <label for="Provincia">Provincia</label>
            <input type="text" placeholder="Ingresa tu Provincia">

            <label for="Ciudad">Ciudad</label>
            <input type="text" placeholder="Ingresa tu Ciudad">

            <label for="Dirección">Dirección</label>
            <input type="text" placeholder="Ingresa tu Dirección">

            <label for="email">E-mail</label>
            <input type="email" placeholder="Ingresa tu E-mail">

            <label for="Password">Contraseña</label>
            <input type="Password" placeholder="Escoge una contraseña">

            <label for="Password">Repetir Contraseña</label>
            <input type="Password" placeholder="Repite tu contraseña"><br>

            <input type="submit" value="Sign In"><br>

            <a href="#">* Ya tengo una cuenta</a>


    </form>


    </div>
</body>

</html>