<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link rel="stylesheet" href="../static/signupstyle.css">


</head>
<body>

   <div class="signup-box">
       <h1>Registrarse</h1>
       <h4>Es gratis y toma solo unos minutos</h4>
       <form>
         <label>Nombre</label>
         <input type="text" name="nombre" placeholder="Ingresa tu nombre">

         <label>Apellido</label>
         <input type="text" name="apellido" placeholder="Ingresa tu Apellido">

         <label>Fecha de Nacimiento</label>
         <input type="date" name="fechaNacimiento" placeholder="Ingresa tu fecha de nacimiento">

         <label>Provincia</label>
         <input type="text" name="provincia" placeholder="Provincia">

         <label>Ciudad</label>
         <input type="text" name="ciudad" placeholder="Ciudad">

         <label>Dirección</label>
         <input type="text" name="calle" placeholder="Dirección">

         <label>Código Postal</label>
         <input type="text" name="codigoPostal" placeholder="Dirección">

         <label>Teléfono</label>
         <input type="number" name="telefono" placeholder="Ingresa un número de teléfono">

         <label>E-mail</label>
         <input type="email" name="email" placeholder="Ingresa tu E-mail">

         <label>Contraseña</label>
         <input type="Password" name="password" placeholder="Ingresa una contraseña">

         <label>Confirmar contraseña</label>
         <input type="text" name="passwordConfirmation" placeholder="Repite la contraseña">

         
         <input type="submit" value="Registrarse">

       </form>

       <p class="para-1">Ya estas registrado?<a href="login.html"> Clickea Aqui</a></p>
 </div>
      
      
</body>

</html>