<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/favicon2.png">
<title>Bet & Buy | Registrarse</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous"
>
<link rel="stylesheet" href="/css/indexstyle.css" />
<link rel="stylesheet" href="/css/signupstyle.css">

</head>

<body class="d-flex flex-column min-vh-100">

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="color-nav">
		<div class="container-fluid">

			<a href="/"><img class="logo1" src="/images/logo1.png" alt=""></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation"
			>

				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item"><a class="nav-link" aria-current="page" href="/">Inicio</a></li>

					<li class="nav-item"><a class="nav-link" href="/events" tabindex="-1"
						aria-disabled="false"
					>Eventos</a></li>
					<li class="nav-item"><a class="nav-link" href="/ranking" tabindex="-1" aria-disabled="false">Ranking</a>
					</li>

					<li class="nav-item"><a class="nav-link" href="/rewards" tabindex="-1"
						aria-disabled="false"
					>Premios</a></li>
				</ul>
				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/user/login" tabindex="-1"
						aria-disabled="false"
					>Log In</a></li>
				</ul>
				</ul>
			</div>
		</div>
	</nav>

	<!--  FORMULARIO -->

	<div class="signup-box">
		<h1>¡Registrate!</h1>
		<h4>Es gratis y toma solo un instante</h4>
		<form action="signup" method="POST" enctype="multipart/form-data">

			<p style="color: red; font-family: 'Roboto Condensed', serif; font-size: 1.3rem;"
				th:if="${error != null}" th:text="${error}"
			></p>


			<div class="row">
				<div class="col-md">
					<label>Nombre</label> <input type="text" name="nombre" placeholder="Ingresa tu nombre"
						th:value="${nombre}"
					>
				</div>
				<div class="col-md">
					<label>Apellido</label> <input type="text" name="apellido" placeholder="Ingresa tu Apellido"
						th:value="${apellido}"
					>
				</div>
				<div class="col-md-5">
					<label>Fecha de nacimiento</label> <input type="date" name="fechaNacimiento"
						placeholder="Ingresa tu fecha de nacimiento" th:value="${fechaNacimiento}"
					>
				</div>
			</div>

			<div class="row">

				<div class="col">
					<div class="provincia select-container">
						<label>Provincia</label> <select id="select-provincias" name="provincia"
							onchange="selectDep()" class="form-control form-control-select text-white bg-dark"
							data-testid="shipping_country" placeholder="Provincia" th:value="${provincia}"
						>
						</select>

					</div>
				</div>

				<div class="col">
					<div class="ciudad select-container">
						<label>Ciudad</label> <select id="select-departamentos" name="ciudad"
							class="form-control form-control-select text-white bg-dark"
							data-testid="shipping_country" placeholder="Ciudad" th:value="${ciudad}"
						>
						</select>

					</div>
				</div>

			</div>


			<div class="row">
				<div class="col">
					<label>Dirección</label> <input type="text" name="calle" placeholder="Dirección"
						th:value="${calle}"
					>
				</div>
				<div class="col-md-4">
					<label>CP</label> <input type="text" name="codigoPostal" placeholder="Código Postal"
						th:value="${codigoPostal}"
					>
				</div>
			</div>

			<div class="row">

				<div class="col">
					<label>E-mail</label> <input type="email" name="email" placeholder="Ingresa tu e-mail"
						th:value="${email}"
					>
				</div>
				<div class="col-md-4">
					<label>Teléfono</label> <input type="tel" name="telefono" placeholder="Teléfono"
						th:value="${telefono}"
					>
				</div>
			</div>

			<div class="row">

				<div class="col">
					<label>Contraseña</label> <input type="password" name="password"
						placeholder="Ingresa una contraseña" th:value="${password}"
					>
				</div>
				<div class="col-md">
					<label>Confirmar contraseña</label> <input type="password" name="passwordConfirmation"
						placeholder="Repite la contraseña" th:value="${passwordConfirmation}"
					>
				</div>
			</div>
			<div class="form-group">
				<label>Foto Usuario</label> <input type="file" class="form-control text-white bg-dark"
					name="archivo" th:value="${archivo}" accept=".jpg,.jpeg,.png"
				>
			</div>


			<input type="submit" value="Registrarse">

		</form>

		<br>

		<p class="para-1">
			Ya estas registrado? <a href="login">Clickea Aquí</a>
		</p>
	</div>







	<!--  INICIO FOOTER -->

	<br>
	<div class="container">
		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Inicio</a></li>
				<li class="nav-item"><a href="/events" class="nav-link px-2 text-muted">Eventos</a></li>
				<li class="nav-item"><a href="/rewards" class="nav-link px-2 text-muted">Premios</a></li>
				<li class="nav-item"><a href="/faqs" class="nav-link px-2 text-muted">FAQs</a></li>
				<li class="nav-item"><a href="/legal" class="nav-link px-2 text-muted">Legales</a></li>
			</ul>
			<p class="text-center text-muted">&copy; 2021 Bet&Buy, Inc</p>
		</footer>
	</div>

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous">
		
	</script>
	<script>
    var dropdown_prov = document.getElementById("select-provincias");
    dropdown_prov.length = 0;
    let defaultOption = document.createElement('option');
    defaultOption.text = 'Selecciona tu provincia';

    dropdown_prov.add(defaultOption);
    dropdown_prov.selectedIndex = -1;
    const url_provincias =
      "https://apis.datos.gob.ar/georef/api/provincias?orden=nombre&max=500";

    fetch(url_provincias)
      .then(function (response) {
        if (response.status !== 200) {
          console.warn(
            "Looks like there was a problem. Status Code: " + response.status
          );
          return;
        }
        response.json().then(function (data) {
          let option;
          for (let i = 0; i < data["provincias"].length; i++) {
            option = document.createElement("option");
            option.text = data["provincias"][i]["nombre"];
            option.value = data["provincias"][i]["nombre"];
            option.id = data["provincias"][i]["id"];
            dropdown_prov.add(option);
          }
        });
      })
      .catch(function (err) {
        console.error("Fetch Error -", err);
      });

    function selectDep() {
      var dropdown_dep = document.getElementById("select-departamentos");
      dropdown_dep.length = 0;
      var provinciaElegida = document.getElementById("select-provincias").value;
      var url_departamentos =
        "https://apis.datos.gob.ar/georef/api/departamentos?orden=nombre&max=600&provincia=" +
        provinciaElegida;

      fetch(url_departamentos)
        .then(function (response) {
          if (response.status !== 200) {
            console.warn(
              "Looks like there was a problem. Status Code: " + response.status
            );
            return;
          }

          response.json().then(function (data) {
            let option;
            for (let i = 0; i < data["total"]; i++) {
              option = document.createElement("option");
              option.text = data["departamentos"][i]["nombre"];
              option.value = data["departamentos"][i]["nombre"];
              dropdown_dep.add(option);
            }
          });
        })
        .catch(function (err) {
          console.error("Fetch Error -", err);
        });
    }
  </script>
</body>
</html>