<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carga Equipos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/logo1.png" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"/>

        <link rel="stylesheet" href="/css/indexstyle.css" />
        <link rel="stylesheet" href="/css/admin/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="color-nav">
            <div class="container-fluid">
                <a href="#"><img class="logo1" src="/images/logo1.png" alt="" /></a>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/admin/panel">Panel</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Carga de datos
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin/load/teams">Cargar equipos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/load/events">Cargar eventos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/load/providers">Cargar proveedores</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/load/rewards">Cargar premios</a></li>
                            </ul>
                        </li>

                    </ul>
                    <div th:unless="${session.sesionUsuario != null}">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login" tabindex="-1" aria-disabled="false"
                                   >Log In</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/signup" tabindex="-1" aria-disabled="false"
                                   >Sign Up</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div th:if="${session.sesionUsuario != null}">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <div th:unless="${session.sesionUsuario.foto != null}">
                                <li class="nav-item">
                                    <img class="rounded-circle user-photo" src="/images/usuario.png" th:alt="${session.sesionUsuario.nombre}">
                                </li>
                            </div>
                            <div th:if="${session.sesionUsuario.foto != null}">
                                <li class="nav-item">
                                    <img class="rounded-circle user-photo" th:src="${'/photos/users/?id=' + session.sesionUsuario.id}" th:alt="${session.sesionUsuario.nombre}">
                                </li>
                            </div>
                            <li class="nav-item dropdown mt-1">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                                    aria-labelledby="navbarDropdownMenuLink" role="menu">
                                    <li><a class="dropdown-item" href="/user/profile">Perfil</a></li>
                                    <li><a class="dropdown-item" href="/user/logout">Cerrar Sesión</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <!-- Formulario -->
        <div class="m-2">
            <div class="col-md-5 col-sm-6 col-lg-4 m-auto mt-4">
                <div class="loadForm">
                    <form action="teams" method="POST" enctype="multipart/form-data">
                        <h2 class="mb-3 text-center">Cargar equipo</h2>
                        <p class="error-msg text-center" th:if="${error != null}" th:text="${error}"></p>
                        <p class="success-msg text-center" th:if="${success != null}" th:text="${success}"></p>                       
                        <label class="form-label" for="nombre">Nombre</label>
                        <input class="form-control" type="text" name="nombre" placeholder="Nombre del equipo" th:value="${nombre}" required autofocus>
                        <br>
                        <label class="form-label" for="deporte">Deporte</label>
                        <select class="form-select" name="deporte" th:value="${deporte}">
                            <option value="futbol">Fútbol</option>
                        </select>
                        <br>
                        <label class="form-label" for="archivo">Foto</label> 
                        <input class="form-control" type="file" name="archivo" placeholder="Bandera o escudo del equipo" accept=".jpg,.jpeg,.png" th:value="${archivo}">
                        <br>
                        <button class="btn btn-warning send-button">Cargar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
