<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="/images/favicon2.png" />
<title>BetBuy | Crear apuesta</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
	crossorigin="anonymous"
></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
>
<link rel="stylesheet" href="/css/indexstyle.css" />
<link rel="stylesheet" href="/css/apuestas/betstyle.css" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="color-nav">
		<div class="container-fluid">
			<a href="/"><img class="logo1" src="/images/logo1.png" alt="" /></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" aria-current="page" href="/">Inicio</a></li>

					<li class="nav-item"><a class="nav-link" href="/events" tabindex="-1"
						aria-disabled="false"
					>Eventos</a></li>
					<li class="nav-item"><a class="nav-link" href="/ranking" tabindex="-1"
						aria-disabled="false"
					>Ranking</a></li>

					<li class="nav-item"><a class="nav-link" href="/rewards" tabindex="-1"
						aria-disabled="false"
					>Premios</a></li>

				</ul>
				<div th:unless="${session.sesionUsuario != null}">
					<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="/user/login" tabindex="-1"
							aria-disabled="false"
						>Log In</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/signup" tabindex="-1"
							aria-disabled="false"
						>Sign Up</a></li>
					</ul>
				</div>

				<div th:if="${session.sesionUsuario != null}">
					<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
						<div th:unless="${session.sesionUsuario.foto != null}">
							<a href="/user/profile" title="profile"><li class="nav-item"><img
									class="rounded-circle user-photo" src="/images/usuario.png"
									th:alt="${session.sesionUsuario.nombre}"
								></li></a>
						</div>
						<div th:if="${session.sesionUsuario.foto != null}">

							<a href="/user/profile" title="profile">
								<li class="nav-item"><img class="rounded-circle user-photo"
									th:src="${'/photos/users/?id=' + session.sesionUsuario.id}"
									th:alt="${session.sesionUsuario.nombre}"
								></li>
							</a>
						</div>
						<li class="nav-item dropdown mt-1"><a class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
						> <i class="fa fa-bars" aria-hidden="true"></i>
						</a>

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
								aria-labelledby="navbarDropdownMenuLink" role="menu"
							>
								<li><a class="dropdown-item" href="/user/profile">Perfil</a></li>
								<li><a class="dropdown-item" href="/user/logout">Cerrar Sesión</a></li>
								<div th:if="${session.sesionUsuario.admin == true}">
									<li><a class="dropdown-item" href="/admin/panel">Admin Panel</a></li>
								</div>
							</ul></li>
					</ul>
				</div>

			</div>
		</div>
	</nav>

	<!-- LOGICA MAQUETADA DE APUESTA DESDE PREMIOS -->

	<div class="mt-4 container" th:if="${premio != null && source == 'rewards'}">

		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2 class="text-warning mb-4">Estas apostando:</h2>
				<div class="row mb-5">
					<div class="mb-4 col-12 col-sm-4 col-md-4 col-lg-4">
						<img class="img-fluid img-box" th:src="${'/photos/rewards/?id=' + premio.id}" />
					</div>

					<div class="col-12 col-sm-8 col-md-8 col-lg-8">
						<h4>
							Premio: <span class="text-warning" th:text="${premio.nombre}"></span>
						</h4>
						<h4>
							Proveedor: <span class="text-warning" th:text="${premio.proveedor.nombre}"></span>
						</h4>
						<h4>
							Precio: <span class="text-warning" th:text="${'$' + premio.precio}"></span>
						</h4>
					</div>
				</div>
			</div>

			<!-- eventos -->

			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2 class="text-warning mb-4">Elegi tu evento y equipo:</h2>
				<h6 class="text-white">Hace click en el equipo por el que quieres apostar</h6>
				<div class="scrolleable">

					<div th:each="evento : ${listaEventos}" class="each-bkg row mb-4">
						<div th:if="${evento.expirado == false}" class="col-3 ">
							<a
								th:href="@{/bets/beginBet/(idReward=${premio.id},idEvent=${evento.id},idTeam=${evento.equipoA.id})}"
							> <img class=" img-team" th:src="${'/photos/teams/?id=' + evento.equipoA.id}" alt="" />
							</a>
						</div>
						<div th:if="${evento.expirado == true}" class="col-3">
							<img style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" class="img-team"
								th:src="${'/photos/teams/?id=' + evento.equipoA.id}" alt=""
							/>

						</div>
						<div class="text-center col-6">
							<h5 class="text-warning align-self-center"
								th:text="${#temporals.format(evento.fechaEvento, 'dd/MM/yyyy HH:mm')}"
							></h5>
							<h6 th:if="${evento.expirado == true}" class="text-danger">Expirado</h6>
						</div>
						<div th:if="${evento.expirado == false}" class="col-3">
							<a
								th:href="@{/bets/beginBet/(idReward=${premio.id},idEvent=${evento.id},idTeam=${evento.equipoB.id})}"
							> <img class="img-team" th:src="${'/photos/teams/?id=' + evento.equipoB.id}" alt="" />
							</a>
						</div>
						<div th:if="${evento.expirado == true}" class="col-3">
							<img style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" class="img-team"
								th:src="${'/photos/teams/?id=' + evento.equipoB.id}" alt=""
							/>

						</div>
					</div>
				</div>
			</div>


		</div>

	</div>

	<!-- LOGICA MAQUETADA DE APUESTA DESDE EVENTOS -->

	<div class="mt-4 container" th:if="${source == 'events'}">

		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
				<h2 class="text-warning mb-4">Estas apostando que gana:</h2>
				<div class="row mb-2">
					<div class="text-center mb-4 col-6 col-sm-6 col-md-4 col-lg-4">
						<img class="img-fluid img-team-box" th:src="${'/photos/teams/?id=' + equipo.id}" />
					</div>

					<div class="align-self-center col-6 col-sm-6 col-md-8 col-lg-8">
						<h3>
							<span class=" text-white" th:text="${equipo.nombre}"></span>
						</h3>
					</div>
				</div>
				<div class="row">
					<h3 class="text-white">
						En el evento del día <span class="text-warning"
							th:text="${#temporals.format(evento.fechaEvento, 'dd/MM/yyyy')}"
						></span>
					</h3>
				</div>
			</div>

			<!-- premios -->

			<div class="col-12 col-sm-12 col-md-12 col-lg-6">
				<h2 class="text-warning mb-4">Elegi tu premio:</h2>
				<h6 class="text-white">Hace click en el premio que quieras apostar</h6>
				<div class="scrolleable">

					<div th:each="premio : ${premios}" class="each-bkg row mb-4">
						<div class=" text-center col-4 col-sm-4">
							<a> <img class="img-reward img-fluid" th:src="${'/photos/rewards/?id=' + premio.id}"
								alt=""
							/>
							</a>
						</div>
						<div class="text-center align-self-center col-4 col-sm-4">
							<h5 class="text-white" th:text="${premio.nombre}"></h5>
							<h5>
								<span class="text-warning" th:text="${'$' + premio.precio}"></span>
							</h5>
						</div>
						<div class="align-self-center col-4 col-sm-4">
							<a
								th:href="@{/bets/beginBet/(idReward=${premio.id},idEvent=${evento.id},idTeam=${equipo.id})}"
							>
								<button class="btn btn-success w-100">Elegir</button>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<!--  INICIO FOOTER -->

	<br>
	<br />
	<br />
	<div class="container">
		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Inicio</a></li>
				<li class="nav-item"><a href="/events" class="nav-link px-2 text-muted">Eventos</a></li>
				<li class="nav-item"><a href="/rewards" class="nav-link px-2 text-muted">Premios</a></li>
				<li class="nav-item"><a href="/faqs" class="nav-link px-2 text-muted">FAQs</a></li>
				<li class="nav-item"><a href="/legal" class="nav-link px-2 text-muted">Legales</a></li>
			</ul>
			<p class="text-center text-muted">&copy; 2021 Bet&Buy, Inc</p>
		</footer>
	</div>

</body>
</html>
